<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div>
  <div>
  <nav class="navbar navbar-light " role="navigation" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">EasyShoes</a>
            </div>
    </div>
    <div class="col-sm-4">
        <ul class="nav navbar-nav ">
            <div class="form-group">
                <div class="col-sm-10">
                    <li>
                        <form class="form-horizontal" role="form" style="width: 100%; padding-top:15px">                 
                            <input type="text" class="form-control" id="search-term" name="search-term"  placeholder="Pesquise o produto" value="">
                        </form>
                    </li>
                </div>
                <div class="col-sm-2">
                    <a href="#">
                        <span class="glyphicon glyphicon-search" style="padding-top:20px"></span>
                    </a>
                </div>
            </div>
        </ul>
    </div>
    <div class="col-sm-4">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Entrar</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Minha Conta</a></li>
        </ul>
    </div>
</nav>
</div>
  <br/>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form class="form-horizontal" role="form" style="width: 100%;">
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">E-mail:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" name="email" placeholder="exemplo@gmail.com" value="">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Senha:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" name="password" placeholder="password" value="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <input id="enter_btn" name="enter_btn" type="submit" value="Entrar" class="btn btn-primary btn-block">
                </div>
            </div>
            <div class="form-group text-center">
                <div class="col-sm-10 col-sm-offset-2">
                    <a href="/criar_conta" class="btn btn-link" role="button">Criar conta</a>
                </div>
            </div>
        </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</body>
</html>